<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.shtml" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".shtml" />
      <mimeMap fileExtension=".shtml" mimeType="text/html" />
    </staticContent>
  </system.webServer>
  <system.web>
    <serverSideInclude enabled="true" />
  </system.web>
</configuration>
